.searchbar{
    text-align: center;
    padding: 3px;
    border: 1px;
    border-color: black;
    border-radius: 2px;
}

.img{
    display:block;
    margin: auto;
    box-shadow: 2px 2px 4px 1px black;
    width: 100%;
}