.searchbar{
    text-align: center;
    font-size: 43px;
    padding: 3px;
    border: 1px;
    border-color: black;
    border-radius: 15px 50px 30px 5px;
}

.img{
    display:flex;
    margin: auto;
    box-shadow: 2px 2px 4px 1px black;
    padding: 5px;
}

#leftimg{
    text-align: left;
}

#middleimg{
    text-align: center;
}

#rightimg{
    text-align: right;
}
