#charts {
    background-color: #EDB245;
    color: white;
    width: 60%;
    height: 100%;
    margin: 2vh;
    padding: 2vh;
    text-align: center;
    overflow: scroll;
    float: left;
}

table, tr, td {
    color: black;
    border: 3px solid #D96704;
    border-collapse: collapse;
    padding: 3%;
    background-color: white;
    width: 35%;
    height: 100%;
}

.header {
    font-weight: 600;
}

.winner-container {
    width: 30%;
    float: left;
}

.user {
    height: 19vh;
    width: 19vh;
    border: 3px solid #D96704;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3);
    transition: 0.3s ease-in-out;
    font-size: 2.5vh;
    border-radius: 50%;
    color: black;
}

.winner {
    float: left;
    margin-left: 22.5%;
    margin-top: 20%;
  }
  
.winner:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transform: translate(0, -1px);
}

.user-chart {
    float: left;
}

#social {
    float: left;
    margin: 2vh;
    margin-left: 0;
    background-color: #EDB245;
    color: white;
    width: 32%;
    float: right;
    text-align: center;
    padding: 2vh;
}

.friends {
    float: left;
}