@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Quicksand&display=swap");

* {
    font-family: 'Quicksand', sans-serif;
}

.Recipe {
    text-align: center;
}

li {
    font-size: 16px;
}


#wrapper {
    width: fit-content;
    float: left;
    overflow: hidden; /* will contain if #first is longer than #second */
}

#info {
    float: left;
    position: relative;
    margin: 2vh;
    height: 50vh;
    width: 80%;
    background-color: #EDB245;
    color: white;
    text-align: left;
    padding: 2vh;
    overflow: scroll;
}

#name {
    float: left;
    margin: 2vh;
    height: 50vh;
    width: 32vh;
    background-color: grey;
    color: white;
    text-align: center;
    padding: 2vh;
    overflow: scroll;
    overflow-x: hidden;
}


.image {
    height: 19vh;
    width: 19vh;
    border: 3px solid #D96704;
    background-color: white;
    transition: 0.3s ease-in-out;
    font-size: 2.5vh;
    border-radius: 50%;
    color: black;
    float: center;
}

.clearer {
	clear: both;
}


.bookmark {
    float: right;
}

.save {
    color: white;
    text-decoration: none;
    font-size: 3vh;
    margin-left: 50px;
    font-weight: 600;
    padding: 1%; 
    border-radius: 8px;
    background-color: #D96704;
    box-shadow: 1px 3px 4px rgba(0,0,0,0.3);
    transition: 0.3s ease-in-out;
}