body {
  font-family: 'Quicksand', sans-serif;
}

.connectionStatus {
  padding-top: 20px;
  margin-left: 5%;
  font-size: 1.5em;
}

.subscriber {
  margin-left: 10%;
}

.publisher {
  float: right;
  margin-right: 10%;
}

.OTPublisherContainer {
  width: 80vh !important;
  height: 80vh !important;
}

#error {
  color: red;
}

.navbar {
  background-color:#EDB245;
  text-align: center;
  margin: 2vh;
  height: 35vh;
}

.link-container {
  padding-top: 5vh;
  width: 80%;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 2.5vh;
  margin-left: 50px;
  font-weight: 600;
  background-color: #A9BF04;
  padding: 1%; 
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.3);
  transition: 0.3s ease-in-out;
}

.link:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transform: translate(0, -1px);
  text-decoration: none;
  color: white;
}

.profile-link {
  width: 19.5vh;
  height: 19.5vh;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.3);
  transition: 0.3s ease-in-out;
  position: absolute;
  right: 10vh;
  top: 8vh;
}

.simmer {
  height: 27.4vh;
  width: 68.4;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.user-profile-img {
  width: 11vh;
  margin-top: 8%;
}